﻿.site-header {
    height: 120px;
    width: 100%;
    background: white;
    
    display: flex;
    align-items: center;

    box-shadow: 0 2px 40px rgba(51, 51, 51, 0.25);
}

.search-bar {
    margin-left: 440px;
    
    display: flex;
    align-items: center;
}

.search-bar__input {
    width: 285px;
    
    margin-left: 20px;
    border: none;
}

