﻿.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    
    width: 360px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-bar__header a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    background: #FBFBFB;
    
    text-decoration: none;
}

.main-logo {
    width: 50px;
    height: 50px;
    background: url("/images/logo.svg") center no-repeat;
}

.nav-bar__header__title {
    margin-left: 30px;
    
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #323232;
}

.nav-bar__nav {
    padding: 50px 0;
    background: #FEFEFE;
}

.nav-bar__nav h2 {
    margin: 0 60px;
    
    font-size: 14px;
    line-height: 28px;
    color: #5C5C5C;
}

.nav-bar__nav__links {
    margin-top: 22px;
}

.nav-bar__nav__links li {
    width: 100%;
}

.nav-bar__nav__links a {
    padding: 0 60px;
    width: calc(100% - 120px);
    height: 50px;
    
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    text-decoration: none;
    
    cursor: pointer;
}

.nav-bar__nav__links a:hover {
    background: #F5F5F5;
    color: #486FFB;
}

