﻿.resources-container {
    
}

.resources-container h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #323232;
}

.resources-container p {
    margin: 20px 0;
    max-width: 600px;

    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #323232;
}

.links-list li {
    display: flex;
    align-items: center;
    
    margin-bottom: 5px;
}

.links-list a {
    height: 24px;
    
    margin-left: 10px;
    
    border-bottom: 1px solid #486FFB;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #486FFB;
    
    text-decoration: none;
}

.links-list a:hover {
    opacity: 0.8;
}