﻿@{
    ViewData["Title"] = "Полезные ссылки";
}

<div class="resources-container">
    <h1>Полезная информация</h1>
    <p class="resources-container__info">
        <b>TechShop</b> - это специализированный сайт для покупки и продажи цифровой техники. Пользователи могут
        выставлять свою технику на продажу, просматривать чужие лоты, связываться с продавцами.
    </p>
    <ul class="links-list">
        <li>
            <img src="~/images/wiki-icon.svg" alt="wiki icon" width="20" height="20"/>
            <a href="https://ru.wikipedia.org/wiki/Электронная_доска_объявлений">Электронная доска объявлений</a>
        </li>
        <li>
            <img src="~/images/fire-icon.svg" alt="" width="20" height="20"/>
            <a href="https://fireseo.ru/blog/torgovye-ploshhadki-v-internete/">Популярнейшие торговые площадки</a>
        </li>
        <li>
            <img src="~/images/ru-icon.svg" alt="" width="20" height="20"/>
            <a href="https://apipost.ru/rating-dosok-obyavleniy.php">Популярнейшие доски объявлений</a>
        </li>
    </ul>
</div>