﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LWWebApplication</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/menu.css"/>
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/resources.css"/>
</head>
<body>
<header class="site-header">
    <label class="search-bar">
        <div class="search-bar__icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.3137" cy="11.3137" r="7" transform="rotate(45 11.3137 11.3137)" stroke="#323232" stroke-width="2"/>
                <rect x="16.9703" y="14.707" width="8" height="3.2" rx="1.6" transform="rotate(45 16.9703 14.707)" fill="#333333"/>
            </svg>
        </div>
        <input class="search-bar__input" placeholder="Поиск: просто введите что хотите найти"/>
    </label>
</header>
<aside class="nav-bar">
    <header class="nav-bar__header">
        <a href="/">
            <div class="main-logo"></div>
            <h1 class="nav-bar__header__title">Tech Shop</h1>
        </a>
    </header>
    <nav class="nav-bar__nav">
        <h2>Меню</h2>
        <ul class="nav-bar__nav__links">
            <li>
                <a>Лоты</a>
            </li>
            <li>
                <a>Акции</a>
            </li>
            <li>
                <a>Создание лота</a>
            </li>
            <li>
                <a href="/Home/Resources">Полезная информация</a>
            </li>
        </ul>
    </nav>
</aside>
<main class="main">
    @RenderBody()
</main>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>